.card {
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    width: 250px;
    margin: 20px;
  }
  
  .card-image {
    width: 249px;
  }
  
  .card-title,
  .description {
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 18px;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-price {
    text-align: center;
  }
  
  .food-cards {
    display: flex;
    margin-left: 15%;
    flex-wrap: wrap; /* Added to wrap cards to the next line */
  }
  
  .Main-container {
    display: flex;
    flex-wrap: wrap; /* Added to wrap header and button to the next line */
    justify-content: space-between;
  }
  
  .Main-header {
    font-weight: bold;
    color: green;
    margin-left: 5%;
    width: 100%; /* Added to expand header to full width */
    text-align: center; /* Center align the header */
  }
  
  .Main-button {
    text-align: center;
    margin-left: -15%;
    background-color: #495e57;
    width: 50%; /* Added to expand button to full width */
  }

  /* Responsive styles for mobile devices */
  @media only screen and (max-width: 600px) {
    .card {
      width: 50%; /* Make the cards take full width on mobile devices */
      margin: 10px 0; /* Adjust margin for mobile devices */
    }

    .food-cards {
      margin-left: 0;
    }

    .Main-container {
      flex-direction: column; /* Stack header and button vertically on mobile devices */
    }
  }
