.card {
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    width: 250px;
    margin: 20px;
  }
  
  .card-image {
    width: 249px;
  }
  
  .card-title,
  .description {
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 18px;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-price {
    text-align: center;
  }
  
  .food-cards {
    display: flex;
    margin-left: 15%;
    flex-wrap: wrap; /* Added to wrap cards to the next line */
  }
  
  .Main-container {
    display: flex;
    flex-wrap: wrap; /* Added to wrap header and button to the next line */
    justify-content: space-between;
  }
  
  .Main-header {
    font-weight: bold;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 100%; /* Added to expand header to full width */
    text-align: left; /* Center align the header */
  }
  .Main-btn {
    background-color: #F4CE14;
    border: none;
    outline: none;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    color: #040404;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    padding: 10px 22px;
    cursor: pointer;
  }



  /* Responsive styles for mobile devices */
  @media only screen and (max-width: 400px) {
    .card {
      width: 50%; /* Make the cards take full width on mobile devices */
      margin: 10px 0;
      gap: 5%; /* Adjust margin for mobile devices */
    }

    .food-cards {
      margin-left: 0;
    }
    .Main-btn{
      width: fit-content;
    }

    .Main-container {
      flex-direction: column; /* Stack header and button vertically on mobile devices */
    }
  }
